body {
}

h1, h2, h3 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 80%;
	justify-content: center;
	margin: auto
}

input {
	margin: 0.5em 0 2em 0;
	max-width: 20%;
	align-self: center;
	border: 1px #240164 ridge;
}

textarea {
	margin: 0.5em 0 2em 0;
	width: 90%;
	height: 10em;
	align-self: center;
	border: 1px #240164 ridge;
}

label {
	text-align: center;
}

button {
	background-color: white;
	max-width: 30%;
	border-radius: 2em;
	padding: 1em;
	align-self: center;
	font-size: 1em;
}

button:hover {background-color: #eee}


hr {
	color: #240164;
}

.green {
	color: #14af03;
}

#ciphered {
	margin: 1em 15%;
}

/******** Radio buttons css *********************************/

.radio-div {
	display: flex;
	align-self: center;
	margin: 1em;
}

.radio-div > input[type="radio"] {
	display: none;
}

.radio-div input[type=radio] ~ label {
  cursor: pointer;
}

.radio-div input[type=radio]:checked + label {
	border-color: #14af03;
	background-color: #eee;
	color: #14af03;
}

.radio-div label:first-of-type{
	border-width: 5px 0 5px 5px;
	border-radius: 2em 0 0 2em;
	border-color: #eee;
	border-style: solid;
}

.radio-div label:last-of-type{
	border-width: 5px 5px 5px 0;
	border-radius: 0 2em 2em 0;
	border-color: #eee;
	border-style: solid;
}

.radio-div > label {
	display: block;
	margin: 0;
	padding: 1em;
	transition: color 0.5s 
}

.radio-div > label:hover {
	border-color: #14af03;
	color: #14af03;
}

/********* Option 2 ******************/

.radio-div2 {
	display: flex;
	justify-content: space-between;
	align-self: center;
	margin: 1em;
}

.radio-div2 > input[type="radio"] {
	display: none;
}

.radio-div2 input[type="radio"] ~ label {
  cursor: pointer;
}

.radio-div2 input[type="radio"]:checked + label {
	border-color: #14af03;
	background-color: #eee;
	color: #14af03;
}

.radio-div2 > label {
	display: block;
	border: 1px solid black;
	border-radius: 2em;
	margin: 1em;
	padding: 1em;
	transition: color 0.3s 
}

.radio-div2 input[type="radio"]:not(:checked) + label:hover {
	border-color: #14af03;
	color: #14af03;
}

/*********************************************************/
