<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Css files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Js files -->
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    	


    <title>Crypto tutor</title>
</head>

<body>
	<div class="content">
	     {% block content %} {% endblock %}
	</div>
</body>
