{% extends 'base.html' %}

{% block content %}
<h1>Crypto<span class='green'>T</span>utor</h1>
<h2>Szyfrowanie wiadomości</h2>
<hr>
    <form>
	<div class="radio-div"><input type="radio" id="rad-cipher" value="Cipher" name="method"> <label for="rad-cipher">Zaszyfruj</label>
	<input type="radio" id="rad-decipher" value="Decipher" name="method"> <label for="rad-decipher">Odszyfruj</label></div>

	<h3>Szyfr</h3>
	<div class="radio-div2"><input id="rad-cesar" type="radio" value="cesar" name="cipher"> <label for="rad-cesar">Cezar</label>
	<input id="rad-affine" type="radio" value="affine" name="cipher"> <label for="rad-affine">Afiniczny</label>
	<input id="rad-playfair" type="radio" value="playfair" name="cipher"> <label for="rad-playfair">Playfair</label></div>

	<h3>Enkoder</h3>
	<div class="radio-div2"><input id="rad-simp-alph"type="radio" value="simple-alphabetic" name="encoder"> <label for="rad-simp-alph">Alfabetyczny</label>
	<input id="rad-to-char" type="radio" value="to-characters" name="encoder"> <label for="rad-to-char">Znakowy</label>
	<input id="rad-rand-alph" type="radio" value="random-alphabetic" name="encoder"> <label for="rad-rand-alph">Alfabetyczny losowy</label></div>

	<h3>Parametry</h3>

	<h3>Wiadomość</h3>
	<textarea name="message"></textarea>
	<button hx-post="/api/encrypt" hx-trigger="click" hx-target="#ciphered" hx-swap="innerHTML">Zaszyfruj</button>
    </form>
    <hr width="100%" size="2" color="#240164">
    <div id="response">
    <h3>Rezultat</h3>
    <div id="ciphered"></div>
    </div>
{% endblock %}
